body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.card {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

#photo_cv {
    margin-bottom: 15px;
}

.profile-pic {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.age {
    font-size: 18px;
    color: #555;
    margin-bottom: 15px;
}

.contact {
    font-size: 16px;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.contact .icon {
    margin-right: 5px;
}

.contact span {
    margin-left: 5px;
}

